body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
}

section {
  width: 100%;
  padding-top: 96px;
  padding-bottom: 96px;
}

button {
  font-family: inherit;
  padding: 0;
  cursor: pointer;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*  -----------Header of the site --------------*/
/*  -----------Logo of the site   ---------------*/
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-nav {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.header-logo .logo-second-part {
  color: #2e2f42;
}

.burger-button {
  border: none;
  box-shadow: none;
  max-width: 24px;
  max-height: 24px;
  background-color: transparent;
  margin-left: auto;
}

.header-menu {
  display: none;
}

.contacts {
  display: none;
}

/*  -----------------Main Content  -------------------*/
/*  -----------Motto section and button  -------------*/

.hero {
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/mobile/hero-bg-mobile.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 72px 0;
  max-width: 320px;
  margin: 0 auto;
}

@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/mobile/hero-bg-mobile-@2x.jpg');
  }
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 216px;
  margin: auto;
  margin-bottom: 72px;
}

.hero-button {
  font-family: 'Roboto', sans-serif;
  border: none;
  background-color: #4d5ae5;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  margin: auto;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus .hero-button:active {
  background-color: #404bbf;
}

/*  ----------------Advantages section ----------- */
.advantages {
}

.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.advantages-list-item {
  max-width: 100%;
}

.advantages-icon-back {
  display: none;
}

.advantages-list-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.advantages-list-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*  ----------------Our team section  ---------------*/

.team {
  background-color: #f4f4fd;
  padding-left: 12px;
  padding-right: 12px;
}

.team-title {
  text-transform: capitalize;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.team-member {
  background-color: #fff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-member:hover .socials-link,
.team-member .socials-link:focus {
  background-color: #404bbf;
}

.team-member-details {
  text-align: center;
  padding: 32px 0;
}

.team-member-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-member-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.socials .icon {
  fill: #f4f4fd;
}

/*  --------------Portfolio ------------------ */

.portfolio-title {
  text-transform: capitalize;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin: auto;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.portfolio-item {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item-box {
  position: relative;
  overflow: hidden;
}
.portfolio-item-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-item-overlay {
  transform: translatey(0);
}

.portfolio-item-details {
  padding: 32px 16px;
  border-right: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
}

.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-item-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*  ------------------Footer  -------------------*/

.footer {
  background: #2e2f42;
  padding: 96px 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;

  max-width: 116px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
}

.footer-logo-second-part {
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.socials-second-wrapper {
  width: 100%;
  align-self: center;
}
.socials-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}
.socials-list {
  display: flex;
  justify-content: space-between;
}
.socials-item {
}
.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon {
  fill: #f4f4fd;
}

.socials-link:hover,
.socials-link:focus {
  background-color: #31d0aa;
}

/*- ----------SUBSCRIBE FIELD------------------- */

.subscribe-wrapper {
  align-self: center;
  width: 100%;
}

.subscribe-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}

.subscribe-form {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.subscribe-field {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  opacity: 0.3;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-field::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.subscribe-field:focus {
  border: 1px solid #4d5ae5;
  outline: none;
}

.subscribe-button {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 165px;
  margin: 0 auto;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 4px;
  border: none;
  padding: 8px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #404bbf;
}

.subscrobe-icon {
  fill: #ffffff;
  margin-left: 16px;
}
/* ------------------------------------ */

/* --------------FORM---------------- */

/* ------Mobile Modal Form------ */
.modal-overlay {
  display: flex;
  justify-content: center;
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 288px;

  min-height: 623px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  border-radius: 4px;
  padding: 72px 16px 24px 16px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  box-shadow: none;
  margin-bottom: 16px;
  cursor: pointer;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
  background-color: #404bbf;
  border: none;
}

.close-button:hover .form-icon-close,
.close-button:focus .form-icon-close {
  fill: #ffffff;
}

.form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 8px;
}

.form-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.form-field-wrap {
  position: relative;
}

.form-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  height: 40px;
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  caret-color: #2e2f42;
}

.form-input:focus,
.form-comment:focus {
  border-color: #4d5ae5;
  outline: none;
}

.form-input:focus + .form-icon {
  fill: #4d5ae5;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* -------------------------------------------*/
/* ----------------COMMENT FIELD IN FORM-------*/

.comment-field {
  margin-bottom: 16px;
}

.form-comment {
  display: block;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  height: 120px;
  padding: 8px 16px;
  caret-color: #2e2f42;
  resize: none;
  background-color: transparent;
  outline: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment::placeholder {
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

/* -------------------------------------------*/

/* --------CHECKBOX USER PRIVACY -----------*/

.check-field {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 24px;
}
.input-check-label {
  display: flex;
  align-items: center;
}

.check-empty {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-check:checked + .input-check-label > .check-empty {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.input-check-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
/* -------------------FORM BUTTON------------------*/

.send-button {
  font-family: 'Roboto', sans-serif;
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.send-button:hover,
.send-button:focus {
  background-color: #404bbf;
}
/* --------MOBILE MENU-------- */
.burger-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 100%;
  z-index: 999;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.burger-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.burger-menu-wrapper {
  padding: 72px 24px 40px 16px;
  margin: 0 auto;
}
.burger-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #e7e9fc;
}

.burger-nav {
}
.burger-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 168px;
}

.burger-nav-item {
}
.burger-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.burger-menu-contacts {
  margin-bottom: 48px;
}
.burger-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.burger-contacts-item {
}
.burger-contacts-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.styled {
  color: #4d5ae5;
}

.burger-socials {
}
.burger-socials-list {
  display: flex;
  justify-content: space-between;
}
.burger-socials-item {
}
.burger-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
}
.burger-socials-icon {
  fill: #f4f4fd;
}

/* ---------MEDIA RULES FOR TABLET----------- */
@media (min-width: 768px) and (max-width: 1157px) {
  .container {
    max-width: 768px;
  }

  .header-container {
    display: flex;
    align-items: center;
  }

  .header-nav {
    margin-right: auto;
    padding: 0;
  }

  .header-logo {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .burger-button {
    display: none;
  }

  .header-menu {
    display: flex;
    gap: 40px;
  }
  .header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-menu-link:hover,
  .header-menu-link:focus {
    color: #404bbf;
  }

  .header-menu-item .current {
    position: relative;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    color: #404bbf;
  }

  .header-menu-item .current::after {
    position: absolute;
    color: #404bbf;
    content: '';
    width: 100%;
    left: 0;
    bottom: -1px;
    display: block;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }

  .contacts {
    display: block;
    font-style: normal;
  }
  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contact-list-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    text-decoration: none;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contact-list-link:hover,
  .contact-list-link:focus {
    color: #404bbf;
  }

  /* ----Main---- */
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/tab/hero-bg-tab.jpg');
    max-width: 768px;
    padding: 112px 0;
  }

  @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/tab/hero-bg-tab-@2x.jpg');
    }
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }

  .advantages-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .advantages-list-item {
    width: calc((100% - 24px) / 2);
  }

  .advantages-list-title {
    text-align: left;
  }
  .team {
    padding-left: 108px;
    padding-right: 108px;
  }

  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }

  .team-member {
    width: calc((100% - 24px) / 2);
  }

  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-item-overlay {
    display: block;
  }
  /* Tablet Footer */
  .footer {
    padding: 96px 0 96px 108px;
  }

  .footer-container {
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .footer-first-wrapper {
    max-width: 264px;
  }

  .footer-logo {
    max-width: 100%;
    display: inline-block;
    margin-bottom: 16px;
    margin-left: 0;
  }

  .socials-second-wrapper {
    max-width: 208px;
    align-self: baseline;
  }

  .socials-title {
    text-align: left;
  }

  .subscribe-wrapper {
    max-width: 453px;
  }

  .subscribe-title {
    text-align: left;
  }

  .subscribe-form {
    flex-direction: row;
  }

  .subscribe-field {
    width: 264px;
  }

  .subscribe-button {
    min-width: 165px;
  }

  /* ------Desktop and Tablet Modal Form------ */

  .modal-form {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
}

/* ---------MEDIA RULES FOR DESKTOP----------- */

@media (min-width: 1158px) {
  section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .header-container {
    display: flex;
    align-items: center;
  }

  .header-nav {
    margin-right: auto;
    padding: 0;
  }

  .header-logo {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .burger-button {
    display: none;
  }

  .header-menu {
    display: flex;
    gap: 40px;
  }
  .header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-menu-link:hover,
  .header-menu-link:focus {
    color: #404bbf;
  }

  .header-menu-item .current {
    position: relative;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    color: #404bbf;
  }

  .header-menu-item .current::after {
    position: absolute;
    color: #404bbf;
    content: '';
    width: 100%;
    left: 0;
    bottom: -1px;
    display: block;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }

  .contacts {
    display: block;
    font-style: normal;
  }
  .contacts-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .contact-list-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contact-list-link:hover,
  .contact-list-link:focus {
    color: #404bbf;
  }

  /* ----Main---- */
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/desktop/hero-bg-desktop.jpg');
    max-width: 1440px;
    padding: 188px 0;
  }

  @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/desktop/hero-bg-desktop-@2x.jpg');
    }
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 48px;
  }

  .advantages-list {
    flex-direction: row;
    gap: 24px;
    row-gap: 72px;
  }

  .advantages-list-item {
    max-width: 264px;
    width: calc((100% - 48px) / 3);
  }

  .advantages-icon-back {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
  }
  .advantages-icon {
    display: block;
  }

  .advantages-list-title {
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .advantages-list-text {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .team-list {
    flex-direction: row;
    gap: 24px;
  }

  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
  }

  .portfolio-item {
    width: calc((100% - 48px) / 3);
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-item-overlay {
    display: block;
  }
  /* Desktop Footer */
  .footer {
    padding: 100px 0;
  }

  .footer-first-wrapper {
    margin-right: 120px;
  }

  .footer-container {
    padding: 0;
    flex-direction: row;
    gap: 0;
  }

  .footer-first-wrapper {
    max-width: 264px;
  }

  .footer-logo {
    max-width: 100%;
    display: inline-block;
    margin-bottom: 16px;
    margin-left: 0;
  }

  .socials-second-wrapper {
    max-width: 208px;
    align-self: baseline;
    margin-right: 80px;
  }

  .socials-title {
    text-align: left;
  }

  .subscribe-wrapper {
    align-self: baseline;
    /* max-width: 453px; */
  }

  .subscribe-title {
    text-align: left;
  }

  .subscribe-form {
    flex-direction: row;
    gap: 24px;
  }

  .subscribe-field {
    width: 264px;
    opacity: unset;
  }

  .subscribe-button {
    min-width: 165px;
    margin: 0;
  }

  /* ------Desktop and Tablet Modal Form------ */

  .modal-form {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
}
